# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [28]:
%load_ext sql
%sql sqlite:///testdb1

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@testdb1'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [29]:
%%sql
CREATE TABLE Semesters(id INTEGER,
                       shortname VARCHAR,
                       date_start DATE,
                       date_end DATE,
                       PRIMARY KEY(id));
CREATE TABLE ClassesSchedule(id INTEGER ,
                             class_id INTEGER,
                             teacher_id INTEGER,
                             semester_id INTEGER,
                             week_day INTEGER,
                             time_start VARCHAR,
                             PRIMARY KEY (id));
CREATE TABLE Classes(id INTEGER ,
                     description VARCHAR,
                     fac_id INTEGER,
                     PRIMARY KEY(id));
CREATE TABLE Faculties(id INTEGER,
                       name VARCHAR,
                       PRIMARY KEY(id));
CREATE TABLE People(id INTEGER,
                    name VARCHAR,
                    email VARCHAR,
                    fac_id INTEGER,
                    status_id INTEGER,
                    PRIMARY KEY(id));
CREATE TABLE PeopleStatus(id INTEGER,
                          name VARCHAR,
                          PRIMARY KEY(id));
CREATE TABLE StudentsSchedule(student_id INTEGER,
                              classesschedule_id INTEGER, FOREIGN KEY(classesschedule_id) REFERENCES ClassesSchedule(id),
                              PRIMARY KEY(student_id));

0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [34]:
%%sql
INSERT INTO Semesters VALUES('1', 'Summer 2017', '5-02-2017', '30-06-2017');
INSERT INTO ClassesSchedule VALUES('1', '1','1','1', 'Monday', '9.00');
INSERT INTO StudentsSchedule VALUES('1','1');
INSERT INTO People VALUES('1','Ivan', 'ivan@mail.ru','1','1');
INSERT INTO PeopleStatus VALUES('1', 'Student');
INSERT INTO Faculties VALUES('1', 'Cyber');
INSERT INTO Classes VALUES('1', 'Computer Science', '1');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Находится ли указанная схема ниже в BCNF? Напишите ниже функциональные зависимости, которые вы считаете, есть в указанной схеме.